<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="hero is-full-screen">
    <div class="logo is-center is-vertical-align">
      <img src="http://localhost:8080/img/tcs_50.jpg" style="float:center">
    </div>
    <p>
    </p>
    <nav class="tabs is-center" style="padding:1%">
      <a type="button" href="/">Enter your hours</a>
      <a type="button" href="ListHoursComponent">List your hours</a>
      <a type="button" href="helpForm">Help</a>
    </nav>
    <router-outlet></router-outlet>
    <!-- <app-entry-hours></app-entry-hours> -->