<table style="border-bottom-color: #222222">
  <br>
  <p>
    <h3>Hours already charged</h3>
  <caption>Your billing hours</caption>
  <thead>
    <tr>
      <th>Week 1</th>
      <th>Week 2</th>
      <th>Week 3</th>
      <th>Week 4</th>
    </tr>
    <tr>
      <td>01/07/2018 | 8hs</td>
      <td>02/07/2018 | 8hs</td>
      <td>03/07/2018 | 8hs</td>
      <td>04/07/2018 | 8hs</td>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Total : 8hs</th>
      <th>Total : 8hs</th>
      <th>Total : 8hs</th>
      <th>Total : 8hs</th>
    </tr>
  </tfoot>
</table>
